.btn {
  line-height: normal;
  display: flex;
  align-items: center;
  height: 100%;
  width: fit-content;

  @include media-breakpoint-up(lg) {
    font-size: 0.875rem;
  }
}

.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-success,
.btn-warning,
.btn-danger {
  @extend .btn;
}

.btn-tertiary {
  @extend .btn-outline-primary;
}
