@import '@sass/abstracts/imports';

.photo-listing {
  position: relative;
  padding: 35px 1rem 1.5rem;
  background-color: $gray-10;
}

.photo-listing-title {
  margin-right: 0;
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    margin-right: 4rem;
  }
}

.photo-listing-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 325;
  line-height: 24px;
  width: 100%;

  @include media-breakpoint-up(md) {
    top: 2.6rem;
    right: 3%;
    left: auto;
    bottom: auto;
    width: 66%;
  }

  p {
    font-size: 18px;
  }
}

.photo-listing-view-all {
  margin-top: 1.5rem;
  font-size: 0.875rem;

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }
}

.photo-listing-container {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  justify-content: space-between;
  width: 100%;
  margin: 3% 0;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: 3% 0 0;
  row-gap: 1rem;
  column-gap: 1rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 48%);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 32%);
  }
}

.photo-card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: $white;
  box-shadow: 0px 7px 17px 0 rgba(0, 0, 0, 0.1);

  &__image {
    height: 138px;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: top;
    border-radius: 3px;
    margin: 0px auto;

    @include media-breakpoint-up(lg) {
      height: 170px;
    }

    &.has-link {
      cursor: pointer;
    }
  }

  &__arrowLink {
    display: inline-block;
    padding-right: 2rem;
    position: relative;
    width: 100%;
    margin: 1rem;

    span {
      font-size: 16px;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
    }

    /* for SVG icon within link */
    div {
      position: absolute;
      top: 0.1rem;
      right: 0;
      height: 16px;
    }
  }

  &__content {
    min-height: 120px;
    padding: 0 2.75em 0 0.938em;
  }

  &__description {
    font-size: 14px;
    padding: 0 10px;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0 10px;

    @include media-breakpoint-up(md) {
      height: 5.75rem;
    }
  }
}
