@import '@sass/sxa/abstracts/vars';
@import '@sass/sxa/abstracts/mixins';
@import 'absolute-bottom-link';
@import 'promo-hero';
@import 'promo-shadow';

.promo {
  &.main-promo-no-border {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 80px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }

    > .component-content {
      border: 0;
      max-width: 583px;
      margin-right: 50px;

      > div {
        padding-bottom: 0;
      }

      @include media-breakpoint-down(lg) {
        max-width: 100%;
        margin-right: 0;
      }

      .promo-text {
        .field-promotext {
          font-size: 14px;

          h3 {
            margin: 15px 0;

            @include media-breakpoint-down(lg) {
              margin: 10px 0;
            }
          }
          p {
            margin: 10px 0;
          }
        }
      }
      @include media-breakpoint-down(lg) {
        > div {
          padding: 0;
        }

        .promo-text {
          padding: 15px 30px 5px 30px;
        }
      }
    }
  }
}
