<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <renderJsonRendering>
            <processor type="DemoSite.Foundation.SitecoreExtensions.Platform.Pipelines.RenderingParametersProcessor, DemoSite.Foundation.SitecoreExtensions.Platform" resolve="true"
								patch:after="*[@type='Sitecore.LayoutService.Presentation.Pipelines.RenderJsonRendering.Initialize, Sitecore.LayoutService']"/>
          </renderJsonRendering>

          <getLayoutServiceContext>
            <processor type="DemoSite.Foundation.SitecoreExtensions.Platform.Pipelines.GetLayoutServiceContext.HPContentExtension, DemoSite.Foundation.SitecoreExtensions.Platform" resolve="true">
              <!--<AllowedConfigurations hint="list">
								-->
              <!-- Unless you change the Layout Service config used by your JSS app, this should always be present. -->
              <!--
								<jss>jss</jss>
							</AllowedConfigurations>-->
              <!--<Applications hint="list">
								-->
              <!-- Restrict the JSS apps for which this processor will execute. -->
              <!--
								<reactApp>JssReactWeb</reactApp>
							</Applications>-->
              <!--<Routes hint="list">
								-->
              <!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
              <!--
								-->
              <!--<services>/sitecore/content/JssReactWeb/Home/Services*</services>
								<portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio>-->
              <!--
							</Routes>-->
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>

      <!-- Pipelines related to Experience Editor -->
      <group name="ExperienceEditor" groupName="ExperienceEditor">
        <pipelines>
          <getPageEditorNotifications>
            <!-- Open EE with Shared Layout instead of Final -->
            <processor patch:after="*[@type='Sitecore.ExperienceEditor.Pipelines.GetPageEditorNotifications.LanguageAccessNotification, Sitecore.ExperienceEditor']" type="DemoSite.Foundation.SitecoreExtensions.Platform.Pipelines.GetPageEditorNotifications.SetExperienceEditorLayout, DemoSite.Foundation.SitecoreExtensions.Platform" />
          </getPageEditorNotifications>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
