<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <!--
      Preview Publishing Target Configuration
        ref: https://doc.sitecore.com/xp/en/developers/103/sitecore-experience-manager/create-a-publishing-target.html
        
        notes: only set up for TEST or PROD environments
    -->
    <eventing defaultProvider="sitecore" env:require="TEST or PROD">
      <eventQueueProvider>
        <eventQueue name="preview" patch:after="eventQueue[@name='web']" type="Sitecore.Data.Eventing.SqlServerEventQueue, Sitecore.Kernel">
          <param ref="dataApis/dataApi[@name='SqlServer']" param1="$(name)"/>
          <param ref="PropertyStoreProvider/store[@name='$(name)']"/>
        </eventQueue>
      </eventQueueProvider>
    </eventing>
    <PropertyStoreProvider env:require="TEST or PROD">
      <store name="preview" patch:after="store[@name='web']" prefix="web_secondary" getValueWithoutPrefix="true" singleInstance="true" type="Sitecore.Data.Properties.SqlServerPropertyStore, Sitecore.Kernel">
        <param ref="dataApis/dataApi[@name='SqlServer']" param1="$(name)"/>
        <param type="Sitecore.Abstractions.BaseEventManager, Sitecore.Kernel" resolve="true"/>
        <param type="Sitecore.Abstractions.BaseCacheManager, Sitecore.Kernel" resolve="true"/>
      </store>
    </PropertyStoreProvider>
    <databases env:require="TEST or PROD">
      <database id="preview" patch:after="database[@id='web']" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel" singleInstance="true">
        <param desc="name">$(id)</param>
        <icon>Images/database_web.png</icon>
        <securityEnabled>true</securityEnabled>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider type="Sitecore.Data.DataProviders.CompositeDataProvider, Sitecore.Kernel">
            <param hint="list" desc="readOnlyDataProviders">
              <protobufItems type="Sitecore.Data.DataProviders.ReadOnly.Protobuf.ProtobufDataProvider, Sitecore.Kernel">
                <filePaths hint="list">
                  <filePath>/App_Data/items/$(id)</filePath>
                  <modulesFilePath>/sitecore modules/items/$(id)</modulesFilePath>
                </filePaths>
              </protobufItems>
            </param>
            <param desc="headProvider">
              <dataProvider ref="dataProviders/main" param1="$(id)">
                <disableGroup>publishing</disableGroup>
                <prefetch hint="raw:AddPrefetch">
                  <childLimit>100</childLimit>
                  <logStats>false</logStats>
                  <template group="template1" desc="template">{AB86861A-6030-46C5-B394-E8F99E8B87DB}</template>
                  <template group="template2" desc="template section">{E269FBB5-3750-427A-9149-7AA950B49301}</template>
                  <template group="template3" desc="template field">{455A3E98-A627-4B40-8035-E683A0331AC7}</template>
                  <template group="other" desc="language">{F68F13A6-3395-426A-B9A1-FA2DC60D94EB}</template>
                  <template group="other" desc="device">{B6F7EEB4-E8D7-476F-8936-5ACE6A76F20B}</template>
                  <item group="other" desc="root">{11111111-1111-1111-1111-111111111111}</item>
                  <children group="other" desc="main sections">{11111111-1111-1111-1111-111111111111}</children>
                  <cacheSize>100MB</cacheSize>
                  <template group="other" desc="alias">{54BCFFB7-8F46-4948-AE74-DA5B6B5AFA86}</template>
                  <template group="other" desc="layout">{3A45A723-64EE-4919-9D41-02FD40FD1466}</template>
                  <template group="other" desc="Sublayout">{0A98E368-CDB9-4E1E-927C-8E0C24A003FB}</template>
                  <template group="other" desc="xsl rendering">{F1F1D639-4F54-40C2-8BE0-81266B392CEB}</template>
                  <item group="other" desc="home">{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</item>
                  <children group="other" desc="main items">{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}</children>
                  <!--  MVC  -->
                  <template group="mvc" desc="Controller rendering">{2A3E91A0-7987-44B5-AB34-35C2D9DE83B9}</template>
                  <template group="mvc" desc="Item rendering">{86776923-ECA5-4310-8DC0-AE65FE88D078}</template>
                  <template group="mvc" desc="Rendering">{92D4A8C4-5754-4E1A-96A6-095BD193E12B}</template>
                  <template group="mvc" desc="Sublayout">{0A98E368-CDB9-4E1E-927C-8E0C24A003FB}</template>
                  <template group="mvc" desc="View rendering">{99F8905D-4A87-4EB8-9F8B-A9BEBFB3ADD6}</template>
                  <!--  Rules  -->
                  <template group="rules" desc="Action">{F90052A5-B4E6-4E6D-9812-1E1B88A6FCEA}</template>
                  <template group="rules" desc="Condition">{F0D16EEE-3A05-4E43-A082-795A32B873C0}</template>
                  <template group="rules" desc="Conditional Rendering Rule">{550B5CEF-242C-463F-8ED5-983922A39863}</template>
                  <template group="rules" desc="Content Editor Warning Rule">{71A2C881-FBB3-4A23-A187-7FD50A20F924}</template>
                  <template group="rules" desc="Insert Options Rule">{664E5035-EB8C-4BA1-9731-A098FCC9127A}</template>
                  <template group="rules" desc="Rule">{D9BDF22F-6E17-47F3-AB64-49C717BA92DA}</template>
                  <template group="rules" desc="Script">{AB6DD55D-75E3-4A02-9793-7054ED90FCB6}</template>
                  <template group="rules" desc="Element Folder">{54DAE7CD-BFD8-4E69-9679-75F2AE9F9034}</template>
                  <template group="rules" desc="Rule Elements Visibility Rule">{271F5CF1-95C7-474D-9F04-06C6EBB20D8F}</template>
                  <template group="rules" desc="Rules Context Folder">{DDA66314-03F3-4C89-84A9-39DFFB235B06}</template>
                  <template group="rules" desc="Rules Folder">{8EA2CF67-4250-47A2-AECA-4F70FD200DC7}</template>
                  <template group="rules" desc="Tag">{1A9B6300-4652-477C-A4B5-B2A64E86B29F}</template>
                  <template group="rules" desc="Tags Definition">{854BA861-63EA-4A0C-8C7B-541E9A7EC4C1}</template>
                  <template group="rules" desc="Tags Definitions Folder">{96C8E5DD-63C3-496B-A97C-A3E37E1DACBA}</template>
                  <template group="rules" desc="Visibility">{AA91A868-02F2-41D3-8B78-1CAD91B4DCAE}</template>
                  <template group="rules" desc="Validation Result">{29045375-C15F-4E69-B873-75C3F5C1814B}</template>
                  <template group="rules" desc="Validation Rule">{0512BDE9-5696-42C4-8C7D-B349EDA9CEF9}</template>
                </prefetch>
              </dataProvider>
            </param>
          </dataProvider>
        </dataProviders>
        <PropertyStore ref="PropertyStoreProvider/store[@name='$(id)']"/>
        <remoteEvents.EventQueue>
          <obj ref="eventing/eventQueueProvider/eventQueue[@name='$(id)']"/>
        </remoteEvents.EventQueue>
        <archives hint="raw:AddArchive">
          <archive name="archive"/>
          <archive name="recyclebin"/>
        </archives>
        <cacheSizes hint="setting">
          <data>200MB</data>
          <items>100MB</items>
          <paths>5000KB</paths>
          <itempaths>100MB</itempaths>
          <standardValues>5000KB</standardValues>
        </cacheSizes>
        <BlobStorage hint="raw:AddBlobStorage">
          <providers default="classic">
            <provider name="classic" type="Sitecore.Data.Blobs.ClassicSqlBlobProvider, Sitecore.Kernel">
              <param desc="databaseName">$(id)</param>
            </provider>
          </providers>
        </BlobStorage>
        <Engines.DataEngine.Commands.AddFromTemplatePrototype patch:source="Sitecore.Buckets.config">
          <obj type="Sitecore.Buckets.Commands.AddFromTemplateCommand, Sitecore.Buckets"/>
        </Engines.DataEngine.Commands.AddFromTemplatePrototype>
      </database>
    </databases>
    <contentSearch>
      <!--
        ENABLE THIS SECTION IF A PREVIEW INDEX IS REQUIRED
      -->
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_preview_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider" env:require="TEST or PROD">
            <param desc="name">$(id)</param>
            <param desc="core">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="(ContentManagement and !Indexing) or (ContentDelivery and !Indexing)"/>
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishPreviewEndAsyncSingleInstance" role:require="Standalone or (ContentManagement and Indexing) or (ContentDelivery and Indexing)" />
            </strategies>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>preview</Database>
                <Root>/sitecore</Root>
              </crawler>
            </locations>
            <enableItemLanguageFallback>true</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
      <indexConfigurations>
        <indexUpdateStrategies>
          <onPublishPreviewEndAsyncSingleInstance type="Sitecore.ContentSearch.Maintenance.Strategies.OnPublishEndAsynchronousSingleInstanceStrategy, Sitecore.ContentSearch" singleInstance="true" role:require="Standalone or ContentManagement or ContentDelivery" env:require="TEST or PROD">
            <param desc="database">preview</param>
            <CheckForThreshold>true</CheckForThreshold>
          </onPublishPreviewEndAsyncSingleInstance>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>