@import '@sass/abstracts/imports';

.calloutBox {
  margin: 3% 0;
  padding: 1% 2%;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

  p {
    margin: 1rem 0;
  }
}

.icon-flex-item {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  img {
    width: 75px;
    height: 75px;
    margin: 0 20px;
  }

  div {
    padding: 5px;
  }
}

.img-cell {
  text-align: center;
}
